@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


/*  general setup  */

*, *::before, *::after {
	box-sizing: border-box; 
	margin: 0;
	padding: 0; 
}

body * {
	font-family: 'Quicksand', sans-serif;
}

ul {
	list-style: none;
}

a, a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}


/*  body & main  */

body {
	background: linear-gradient(to right, #a154e2, #486cee, #3acaa1) center no-repeat; 
	background-size: cover;
	height: 100vh; 
	background-attachment: fixed;
	color: white;
}


/*  header  */

header {
	height: 80px; 
	width: 100%; 
	background-color: #ff4632; 
}

header * {
	color: white; 
}

header .logo {
	font-size: 35px; 
	font-weight: bold;
	letter-spacing: 3px; 
	padding: 0 50px; 
	line-height: 80px; 
}


/*  gallery  */

.artist h1 {
	text-align: center; 
	font-size: 30px; 
	margin-top: 20px; 
}

main .gallery {
	display: flex; 
	flex-wrap: wrap; 
	flex-direction: row; 
	align-items: space-around; 
	align-content: space-around; 
	justify-content: center; 
}

main .gallery .img {
	/*flex: 5 0 11%;*/
	flex-basis: 17%;
	margin: 8px 5px; 	
}

main .gallery img {
	width: 200px; 
	height: 200px; 
	object-fit: cover; 
	border: 5px solid white;
	border-radius: 5px; 
}

.search .gallery img {
	width: 100px; 
	height: 100px; 
}

main .gallery .img:hover {
	opacity: 0.5;
	transition: 0.3s; 
}


/*  search  */

.search {
	border: 1px solid red;
	padding: 30px; 
	width: 100%; 
	overflow: hidden; 
}

.search .wrapper.flex {
	/*overflow: hidden; */
	display: flex; 
	flex-direction: row; 
	/*align-items: center; */
	justify-content: flex-start; 
}

.search .wrapper > div {
	margin: 10px;
	display: inline-block;
	vertical-align: center;
	height: auto; 
}

/*.search .wrapper.inline > div {
	display: inline-block;
	}*/

	.search .search-bar {
		border: 1px solid red;
	}

	.search .search-bar input {
		width: 300px; 
		height: 30px; 
		border: none;
		border-radius: 5px; 
	}

	.search .platform, footer .menu {
		border: 1px solid red;
		display: flex; 
		flex-direction: row; 
		align-items: center; 
		justify-content: space-around; 
		/*margin: 0 40px; */
	}

	.search .platform li {
		margin: 5px 20px; 
		/*line-height: 60px; */
	}

	.search .platform .icon {
		display: flex; 
		flex-direction: column; 
		justify-content: space-between; 
		align-items: center; 
		color: white;
	}

	.search .platform img {
		width: 30px; 
		height: 30px; 
		margin: 2px;
	}

	.search .result {
		border: 1px solid red;
		background: linear-gradient(to right, #3acaa1, rgba(0, 0, 0, 0)) center no-repeat; 
		width: 300px;
		/*height: 300px; */
		padding: 20px; 
		/*float: left; */
	}

	.search .gallery {
		/*float: left; */
		border: 1px solid red;
	}

	.search .keywords li {
		margin: 5px 0px; 
	}


	/*  footer  */

	footer {
		height: 60px; 
		width: 100%; 
		background: #32323d; 
		margin-top: auto; 
		/*position: fixed; */
		/*bottom: 0;*/
	}

	footer * {
		color: white; 
	}

	footer .menu {
	/*display: flex; 
	flex-direction: row; 
	align-items: center; 
	justify-content: space-around; */
	margin: 0 40px; 
}

footer .menu li {
	margin: 0 10px; 
	line-height: 60px; 
}

footer .menu a {
	font-size: 18px; 
	font-weight: bold;
	letter-spacing: 2px; 
}

footer .menu a.here, .menu a:hover {
	color: #2d96c8;
	transition: 0.3s; 
}


@media (max-width: 1218px) {
	.artist .gallery img {
		width: 150px; 
		height: 150px; 
	}
}

@media (max-width: 872px) {
	.artist .gallery img {
		width: 120px; 
		height: 120px; 
	}

	footer .menu {
		display: flex; 
		flex-direction: column; 
		align-items: center; 
		justify-content: space-around; 
	}

	footer .menu li {
		line-height: 50px; 
	}

	footer .menu a {
		padding: 2px 10px; 
		border: 1px solid red;
	}

	footer {
		height: auto; 
		margin-top: auto; 
	}
}

@media (max-width: 768px) {

	.artist .gallery .img {
		/*flex: 5 0 11%;*/
		flex-basis: 30%;
	}
	.artist .gallery img {
		width: 150px; 
		height: 150px; 
	}

	.search .gallery img {
		width: 80px; 
		height: 80px; 
	}

	.search .search-bar input {
		width: 500px; 
		height: 40px; 
	}

}









